*.o
cgi-bin/imagemap
cgi-bin/jj
cgi-bin/phf
cgi-bin/post-query
cgi-bin/query
httpd
support/auth/uudecode
support/auth/uuencode
support/dbm2std
support/dbmdigest
support/dbmgroup
support/dbmpasswd
support/htdigest
support/htpasswd
support/inc2shtml
support/std2dbm
support/unescape
support/webgrab
